<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Vasya</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container text-center">
    <h1>Welcome to Vasya Store</h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YSTU</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/products/all">Products</a></li>
                <li><a href="/products/add">Add new product</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/logout" method="post">
                    <li><input type="submit" value="Sign Out"/></li>
                </form>
                <li><a href="/products/shipping"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
{{#products}}
<div class="container">    
  <div class="row">

    <div class="col-sm-4">
        <div class="panel panel-primary">

        <div class="panel-heading"> {{name}} </div>
        <div class="panel-body">
        <p>Price : {{price}}  </p>
		<p>Seller :  {{seller}}</p>
        </div>
        <div class="panel-footer" > <button type="button" class="btn btn-primary btn-md"
           onClick="location.href='/products/{{id}} ' ">Browse</button>
            <br>
        <div {{#role}}{{role}}{{/role}}>
            <button type="button" class="btn btn-error btn-md"
                    onClick="location.href='/products/remove{{id}} ' ">Remove</button>
            <button type="button" class="btn btn-error btn-md"
                    onClick="location.href='/products/edit{{id}} ' ">Edit</button></div>

        </div>

      </div>
    </div>


  </div>
</div><br>
{{/products}}

</body>
</html>
