<html lang="en">
<head>
    <title>Vasya</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container text-center">
    <h1>Welcome to Vasya Store</h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YSTU</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/products/all">Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action="/logout" method="post">
                    <li><input type="submit" value="Sign Out"/></li>
                </form>
                <li><a href="/shopping_list"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
{{#product}}
<div class="container">    
  <div class="row">

      <form action="/products/add" method="post">
      <div><label for="exampleInputEmail1"> name : <input type="text" name="name" class="form-control" value={{name}}> </label></div>
      <div><label for="exampleInputEmail1"> description: <input type="text" name="description" class="form-control" value={{description}}> </label></div>
      <div><label for="exampleInputEmail1"> price : <input type="text" name="price" class="form-control" value={{price}}> </label></div>
      <div><label for="exampleInputEmail1"> seller : <input type="text" name="seller" class="form-control" value={{seller}}>  </label></div>
      <div><label for="exampleInputEmail1"> urlImage: <input type="text" name="urlImage" class="form-control" value={{urlImage}}> </label></div>
      <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
      <div class="panel-footer"> <button type="submit" class="btn btn-primary btn-md">Edit</button></div></form>
  </div>
</div><br>
{{/product}}
</body>
</html>
